.clearfix {
    overflow: auto;
}

body{
    font-family: 'RailwayRegular'; 
    background-image: url("../images/underground.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
}

.headerRow, .content {
    background: #ffffff;
    border: solid 10px pink;
    border-radius: 25px;

}

button {
    background: #ffffff;
}